<% if (comments && comments.length > 0) { %>
  <% comments.forEach(comment => { %>
    <% const user = userInfo.find(user => user.uid === comment.uid); %>

    <%- include("comment", { 
      comment, 
      user: user || { 
        name: "Unknown User", 
        avatar: "/images/default.jpg" 
      } 
    }) %>
  <% }) %>
<% } else { %>
  <p class="no-comments">No comments yet</p>
<% } %>