<div class="comment">
  <img 
    class="comment-avatar" 
    src="<%= user.avatar %>" 
    alt="<%= user.name %>"
  />

  <div class="comment-body">
    <div class="comment-username"><%= user.name %></div>
    <div class="comment-text"><%= comment.text %></div>
  </div>
</div>